<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Simple markers</title>
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    var myLatLng = [];
    var map, infoWindow;
    function initMap() {

      $.ajax({
        type: 'POST',
        url: '/getLatLng',
        dataType: 'json',
        beforeSend: function () {

        },
        success: function (response) {
          if (window.location.href.split('?')[1] != 'json') {
            for (key in response) {
              myLatLng.push({
                lat: response[key].lat, lng: response[key].lng
              });
            }
          } else {
            myLatLng = [
              { lat: -33.890542, lng: 151.274856 },
              { lat: -33.923036, lng: 151.259052 },
              { lat: -34.028249, lng: 151.157507 },
              { lat: -33.80010128657071, lng: 151.28747820854187 },
              { lat: -33.950198, lng: 151.259302 }
            ]
          }

          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: (window.location.href.split('?')[1] != 'json') ? { lat: -33.90, lng: 151.16 } : { lat: -25.363, lng: 131.044 }
          });

          infoWindow = new google.maps.InfoWindow;

          // Try HTML5 geolocation.
          if (window.location.href.split('?')[1] != 'json') {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                map.setCenter(pos);
              }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
              });
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }

          /**
           * @ { Adding multiple markers } 
           **/
          for (var i = 0; i <= myLatLng.length; i++) {
            console.log(myLatLng)
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(myLatLng[i].lat, myLatLng[i].lng),
              map: map
            });
          }
        }
      })
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }

  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALmsUxId0yNREGYP43tz7minmhsE1Xbmk&callback=initMap">
  </script>

</body>

</html>